name: CI

on:
  pull_request:
    paths-ignore:
      - '.idea/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.gitattributes'
      - '.gitignore'
      - 'README.md'
      - 'LICENSE'
  push:
    branches:
      - master
    tags:
      - 'v*'
    paths-ignore:
      - '.idea/**'
      - '.github/**'
      - '.gitattributes'
      - '.gitignore'
      - 'README'
      - 'LICENSE'
      - 'renovate.json'

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'temurin'

      - name: Determine Version Name
        shell: pwsh
        run: |
          $VERSION_CODE = $env:GITHUB_RUN_NUMBER
          $VERSION_NAME = $env:GITHUB_RUN_NUMBER
          if ($env:GITHUB_REF.StartsWith('refs/tags/')) {
              $VERSION_NAME = $env:GITHUB_REF.Substring(10)
          }
          echo "FGA_VERSION_CODE=$VERSION_CODE" >> $env:GITHUB_ENV
          echo "FGA_VERSION_NAME=$VERSION_NAME" >> $env:GITHUB_ENV

      - name: Build Android Package
        run: ./gradlew assembleCi --scan --parallel

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: apk
          path: app/build/outputs/apk/ci/app-ci.apk

      - name: Upload De-obfuscation mapping file
        uses: actions/upload-artifact@v2
        with:
          name: mapping
          path: app/build/outputs/mapping/ci/mapping.txt

  # Release master branch
  canary:
    needs: build
    runs-on: macos-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: dev-drprasad/delete-tag-and-release@v0.2.0
        with:
          delete_release: true
          tag_name: canary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: canary
          release_name: 'FGA canary-${{ github.run_number }}'
          prerelease: true

      - uses: actions/download-artifact@v2
        with:
          name: apk

      - name: List files
        run: |
          ls .
          ls ./apk

      - name: Upload APK to GitHub Releases
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./apk/app-ci.apk
          asset_name: com.mathewsachin.fategrandautomata.apk
          asset_content_type: application/vnd.android.package-archive

      - name: Publish release
        uses: StuYarrow/publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          id: ${{ steps.create_release.outputs.id }}
