name: CI

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - 'v*'

jobs:
  build:
    runs-on: macos-latest
    env:
      NOT_FORK: ${{secrets.NOT_FORK == 'true'}}
      FORK: ${{secrets.NOT_FORK != 'true'}}
    steps:
    - uses: actions/checkout@v1

    - name: Determine Package Name
      shell: pwsh
      run: |
        $PACKAGE_NAME = "com.mathewsachin.fategrandautomata"
        if ($env:FORK -eq $True) {
            $PACKAGE_NAME += '.fork'
        }
        echo "::set-env name=PACKAGE_NAME::$PACKAGE_NAME"

    - name: Apply Package Name
      run: sed -i -e "s/package=\"[^\"]*\"/package=\"$PACKAGE_NAME\"/g" AndroidManifest.xml
      working-directory: ./FateGrandAutomata/Properties

    - name: Determine Version Name
      shell: pwsh
      run: |
        $VERSION_NAME = $env:GITHUB_RUN_NUMBER
        if ($env:GITHUB_REF.StartsWith('refs/tags/')) {
            $VERSION_NAME = $env:GITHUB_REF.Substring(10)
        }
        echo "::set-env name=VERSION_NAME::$VERSION_NAME"

    - name: Apply Version Number and Version Name
      working-directory: ./FateGrandAutomata/Properties
      run: |
        sed -i -e "s/android:versionCode=\"[^\"]*\"/android:versionCode=\"$GITHUB_RUN_NUMBER\"/g" AndroidManifest.xml
        sed -i -e "s/android:versionName=\"[^\"]*\"/android:versionName=\"$VERSION_NAME\"/g" AndroidManifest.xml

    - name: Decrypt keystore (GPG)
      env:
        GPG_KEYSTORE: ${{ secrets.GPG_KEYSTORE }}
      working-directory: ./FateGrandAutomata
      if: env.NOT_FORK == 'true'
      run: gpg --quiet --batch --yes --decrypt --passphrase="$GPG_KEYSTORE" --output fgautomata.keystore fgautomata.keystore.gpg

    - name: Sign Android Package
      env:
        KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
      working-directory: ./FateGrandAutomata
      shell: pwsh
      run: |
        $BuildArgs = @{
            FilePath = 'msbuild'
            ArgumentList = @(
                'FateGrandAutomata.csproj',
                '/restore',
                '/verbosity:minimal',
                '/t:SignAndroidPackage',
                '/p:Configuration=Release'
            )
            Wait = $True
        }
        if ($env:NOT_FORK -eq $True) {
            $BuildArgs.ArgumentList += @(
                '/p:AndroidKeyStore=True',
                '/p:AndroidSigningKeyAlias=fgautomata',
                "/p:AndroidSigningStorePass=`"$KEYSTORE_PASS`"",
                "/p:AndroidSigningKeyPass=`"$KEYSTORE_PASS`"",
                '/p:AndroidSigningKeyStore=fgautomata.keystore'
            )
        }
        Start-Process @BuildArgs

    - name: Upload APK
      uses: actions/upload-artifact@v1
      with:
        name: apk
        path: FateGrandAutomata/bin/Release/${{ env.PACKAGE_NAME }}-Signed.apk

  deploy:
    needs: build
    runs-on: macos-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - name: Set tag env var
      run: echo ::set-env name=TAG_VERSION::${GITHUB_REF:10}

    - name: Draft Release
      id: create_release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.TAG_VERSION }}
        release_name: 'Fate/Grand Automata ${{ env.TAG_VERSION }}'
        draft: true
        prerelease: true

    - name: Download Artifact
      uses: actions/download-artifact@v1
      with:
        name: apk

    - name: Upload APK to GitHub Releases
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./apk/com.mathewsachin.fategrandautomata-Signed.apk
        asset_name: com.mathewsachin.fategrandautomata.apk
        asset_content_type: application/vnd.android.package-archive
