name: PR Build

on:
  pull_request_target:
    paths-ignore:
      - '.idea/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.gitattributes'
      - '.gitignore'
      - '*.md'
      - 'LICENSE'
      - 'custom-game-area/**'
      - 'wiki/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.ref }}
  cancel-in-progress: true

env:
  JAVA_VERSION: 17
  JAVA_DISTRO: 'temurin'
  VERSION_CODE: '${{ github.run_number }}'

jobs:
  build:
    runs-on: macos-15
    permissions: 
      pull-requests: write 
    steps:
      # get the PR from the event as JSON
      - uses: actions/github-script@v8
        id: pr
        with:
          script: |
            const { data: pullRequest } = await github.rest.pulls.get({
              ...context.repo,
              pull_number: context.payload.pull_request.number,
            });
            return pullRequest
      
      # check out the merged result
      - uses: actions/checkout@v6
        with:
          ref: ${{fromJSON(steps.pr.outputs.result).merge_commit_sha}}

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}
          cache: 'gradle'

      - name: Determine Version Name
        shell: bash
        run: |
          VERSION_NAME=$VERSION_CODE
          echo "FGA_VERSION_CODE=$VERSION_CODE" >>${GITHUB_ENV}
          echo "FGA_VERSION_NAME=$VERSION_NAME" >>${GITHUB_ENV}

      - name: Build Android Package
        run: ./gradlew assembleCi --scan --parallel --no-daemon
    
      - name: Rename Artifacts
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            build_name="${{ github.run_number }}"
          else
            build_name="${{ github.event.pull_request.number }}-build-${{ github.run_number }}"
          fi

          mv app/build/outputs/apk/ci/app-ci.apk app/build/outputs/apk/ci/fga-pr-$build_name.apk
          mv app/build/outputs/mapping/ci/mapping.txt app/build/outputs/apk/ci/fga-mapping-$build_name.txt

          echo "FGA_APK_PATH=app/build/outputs/apk/ci/fga-pr-$build_name.apk" >>${GITHUB_ENV}
          echo "FGA_MAPPING_PATH=app/build/outputs/apk/ci/fga-mapping-$build_name.txt" >>${GITHUB_ENV}

          echo "FGA_APK_ARTIFACT_NAME=FGA-apk-PR-$build_name" >>${GITHUB_ENV}
          echo "FGA_MAPPING_ARTIFACT_NAME=FGA-mapping-PR-$build_name" >>${GITHUB_ENV}

      - name: Upload APK
        id: upload-apk
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FGA_APK_ARTIFACT_NAME }}
          path: ${{ env.FGA_APK_PATH }}

      - name: Upload De-obfuscation mapping file
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FGA_MAPPING_ARTIFACT_NAME }}
          path: ${{ env.FGA_MAPPING_PATH }}
      
      - name: Comment the APK
        if: ${{ github.event_name != 'workflow_dispatch' && github.actor != 'renovate[bot]' }}
        uses: thollander/actions-comment-pull-request@v3
        with:
          comment-tag: apk
          message: |
            # [Build ${{ github.run_number }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

            Download the latest APK for testing [here](${{ steps.upload-apk.outputs.artifact-url }})

            > [!NOTE] 
            > You need a GitHub account to download the APK.
            >
            > This URL is valid as long as the artifact has not expired yet.
